html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; 	font-family: 'Amatic SC', cursive;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}

:focus {outline: 0;}

body, html {
	margin: 0;
	padding: 0;
}

html {
	background-color: #080822;
	background-image: url(bg.png);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

h1, h2 {
	font-family: 'Amatic SC', cursive;
}

h1 {
	font-size: 80px;
	margin-top: 40px;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
}

.bottom h1 {
	font-size: 60px;
	margin: 0 0 20px 0;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
}

h2 {
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
}

h2 {
  font-size: 30px;
	margin-bottom: 5px;
	color: #fff;
}

#page {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
	position: absolute;
}

.top {
	width: 100%;
	height: 100%;
	text-align: center;
	margin: 0px auto 30px;
	padding: 0px 0 0 0;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	z-index: 99999999;
	background: rgba(0,0,0,0.5);
}

.screen .home, .screen .small, .screen .record, .screen .slideshow, .screen.intro.small .home {
	display: none;
}

.screen.intro .home, .screen.intro.small .small, .screen.rec .record, .screen.slideshow .slideshow {
	display: block;
}

.new .home {
  display: none!important;
}


.screen.intro {
	position: absolute;
	top: 10%;
	left: 50%;
	margin-left: -250px;
}

.screen.intro {
	height: 360px;
}

.screen.intro.small {
	height: 20px;
	padding: 0;
}

.screen.rec, .screen.slideshow {
	height: 480px;
	background-size: cover;
}


#currentImage {
  width: 300px;
  height: 300px;
  margin: auto;
  background-repeat: no-repeat;
  margin-top: 100px;
  background-position: -20px -20px;
}

#outercanvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas {
  position: relative;
  top: 6%;
  left: 27%;
  width: 45%;
  height: 27%;
}

#image {
/*  width: 380px;
  height: 380px;*/
  display: block;
  position: relative;
  height: 100%;
  width: auto;
  margin: auto;
  opacity: 0.55;
  border-radius: 7px;
}

.connect {
  background-image: url(instagram.png);

  background-repeat: no-repeat;
  width:  200px;
  height: 80px;
  display: block;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
	text-align: left;
  margin: 5px auto;
	padding: 10px 0 10px 60px;
}

/* BUILDER */
.images {
  display: block;
  overflow: hidden;
  height: 100px;
}

.image {
  float: left;
  position: relative;
  background-size: cover;
  margin: 5px;
}

#link {
  width: 300px;
}
.ui-sortable li.image{
  cursor: move;
}
.image.highlight { 
  border: 2px solid red;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.timestamp {
  position: absolute;
  bottom: 25px;
  right: 5px;
  width: 30px;
  background-color: rgba(128,128,128, 0.5);
  font-weight: bold;
  color: white;
  border: 1px solid white;
}

.image input {
  display: block;
}

.image img {
  display: block;
  width:  150px;
  height: 150px;
}

body {
  font-family: "Lucida Grande";
  color: white;
  min-width: 1000px;
}


input#title {
  font-family: 'Amatic SC', cursive;
  display: block;
  font-size: 30px;
	text-decoration: none;
	background: #384d6e;
	color: #fff;
	width: 500px;
	margin: 5px auto;
	padding: 5px;
	border-radius: 2px;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
	-webkit-transition: background 0.2s linear;
	border: 0;
}



body a {
  color: white;
}

body.builder {
  margin: 20px;
}




.storywheel {
	text-align: center;
	margin: 0px auto 0px;
	position: relative;
}

.storywheel {
	position: absolute;
	top: 10%;
	left: 35%;
	z-index: 9999;
	width: 30%;
	height: 45%;
	-webkit-transition: all 0.2s linear;
}

.storywheel .image {
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-size: 110%;
	border-radius: 10px;
	cursor: default;
	box-shadow: 0px 0px  8px rgba(0,0,0, 0.1);
}

.footer {
	padding: 0px;
	text-align: left;
	font-size: 20px;
}

.footer ul li {
	float: left;
	padding: 10px 15px;
	text-align: left;
	border-right: 1px solid rgba(255,255,255,0.07);
	font-size: 20px;
}

.footer ul li:last-child {
	border-right: 0;
}

.footer a.button {
	position: absolute;
	right: 0;
	bottom: 0;
}

.button {
  display: block;
  text-align: center;
	display: block;
  font-size: 30px;
	text-decoration: none;
	background: #384d6e;
	color: #fff;
	width: 240px;
	margin: 5px auto;
	padding: 0 7px;
	border-radius: 2px;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
	-webkit-transition: background 0.2s linear;
}

.button:hover {
	background: #293a55;
}

.examples {
	width: 100%;
	margin: 0px auto 0px;
	overflow: scroll;
	height: 120px;
	border-top: 1px solid rgba(255,255,255, 0.12);
	background: rgba(0,0,0,0.8);
	padding-bottom: 0px;
	-webkit-transition: all 0.4s linear;
	-webkit-transition-delay: 0.5s;
}

.examples ul {
	width: 100000px;
	padding: 10px 0;
}
.examples ul li {
	float: left;
	text-align: left;
}

.examples ul li a {
	display: block;
	width: 80px;
	height: 80px;
	padding: 10px;
	margin: 0px 0 0px 10px;
	opacity: 0.7;
	background-size: 155px;
	background-position: 50%;
	-webkit-transition: all 0.3s ease;
	text-decoration: none;
	border-radius: 5px;
	border-bottom: 1px solid rgba(255,255,255, 0.2);
}


.example-focus .examples ul li a, .examples ul li a:hover, .examples ul li a:active {
	opacity: 1;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255, 0.4);
}

.examples ul li h3 a span {
	background: rgba(255,255,255,0);
	display: inline;
	color: rgba(0,0,0,0);
	font-size: 21px;
	-webkit-transition: all 0.1s ease;
}

.examples ul li h3 a span.user {
	color: rgba(81,103,138, 0);
}

.example-focus .examples ul li h3 a span {
	background: rgba(255,255,255,0.8);
}

.example-focus .examples ul li h3 a span.user {
	color: rgba(81,103,138, 0.8);
}

.examples ul li h3 a:hover span {
	background: rgba(255,255,255,0.9);
	color: rgba(0,0,0,1);
}

.examples ul li h3 a:hover span.user {
	color: rgba(81,103,138, 1);
}

#selection {
  overflow-x: scroll;
}

#selection ul {
	width: 9500px;
	margin: 0 auto;
}

#selection ul li {
	float: left;
	display: block;
	width: 73px;
	height: 76px;
	padding: 7px 10px 10px;
	margin: 0 0 20px 20px;
	opacity: 1;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
	background-size: 110px;
	background-position: -7px -7px;
/*	-webkit-transition: all 0.3s ease;*/
	text-decoration: none;
	color: rgba(81,103,138, 0);
	font-family: helvetica, arial, sans-serif;
	border: 2px dashed rgba(81,103,138, 0.5);
	font-size: 21px;
	border-radius: 10px;
	text-align: center;
}

#selection ul li.image, #selection ul li.image:hover {
	width: 77px;
	height: 67px;
	padding: 20px 10px 10px;
	margin: 0 0 20px 20px;
	opacity: 1;
	background-size: 105px;
	background-position: 50%;
	/*-webkit-transition: all 0.3s ease;*/
	font-family: helvetica, arial, sans-serif;
	border: 0px dashed rgba(81,103,138, 0.5);
	cursor: move;
	border-bottom: 1px solid rgba(81,103,138, 1);
}

#selection ul li.fin {
  line-height: 76px;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

#selection ul li.fin:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);  
}

#selection ul li.upcoming, #selection ul li.upcoming:hover {
	opacity: 0.3;
	-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);
	border-bottom: 1px solid rgba(81,103,138, 1);
}

#selection ul li.filled span, #selection ul li.filled:hover span {
	opacity: 0;
}

#selection ul li:hover {
	border: 2px dashed rgba(255,255,255, 1);
	color: rgba(81,103,138, 0.9);
}

#images {
	/*border-top: 1px solid rgba(81,103,138, 0.2);*/
	padding-top: 20px;
	overflow-x: scroll;
  
}

#images ul {
  width: 100000px;
	margin: 0 auto;
}

#images ul li {
	float: left;
	display: block;
	width: 18px;
	height: 18px;
	padding: 20px;
	margin: 0 0 20px 20px;
	opacity: 0.4;
	background-size: 70px;
	background-position: 50%;
	background-color: black;
	-webkit-transition: all 0.3s ease;
	text-decoration: none;
	color: rgba(81,103,138, 0);
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	border-radius: 7px;
	border-bottom: 1px solid rgba(81,103,138, 1);
}

#images ul li:hover {
	color: rgba(81,103,138, 0.9);
	opacity: 1;
}

.view-all {
	display: block;
	color: rgba(81,103,138, 0.3);
	font-size: 24px;
	text-decoration: none;
	width: 1200px;
	margin: 0 auto 10px;
}

.explanation {
	height: 60px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0;
	padding-top: 10px;
	border-top: 1px solid rgba(81,103,138, 0.2);
}

.explanation .inner {
	position: relative;
	width: 920px;
	margin: 0 auto;
}

.inner .button {
	float: right;
	margin: 7px 0 0 20px;
	width: auto;
	padding: 0 20px;
}


.button.red {
  background-color: rgba(100,0,0,1);
}


.slideControls {
  width: 120px
}

#right-now {
	width: 830px;
	margin: 0 auto 50px;
}

#right-now ul li {
	float: left;
	width: 395px;
	height: 395px;
	background-size: 430px;
	background-position: 50%;
	border-radius: 20px;
}

#right-now ul li.rec, #right-now ul li.first {
	background: rgba(255,255,255,0.05);
	margin-left: 40px;
	font-size: 40px;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
	color: rgba(81,103,138,0.7);
	position: relative;
}	

#right-now ul li.rec .inner, #right-now ul li.first .inner {
	padding: 40px;
}

#right-now ul li.rec .inner img {
	display: block;
	margin: 30px auto;
}

#right-now ul li.first {
	margin-left: 0;
	font-size: 80px;
	color: rgba(255,255,255,1);
}

#right-now ul li.rec .expl {
	position: absolute;
	top: 140px;
	left: 0px;
	width: 355px;
	height: 100px;
	margin: 20px;
	padding: 20px 0;
	border-top: 1px solid #080822;
}

#right-now ul li.rec .time {
	position: absolute;
	top: 320px;
	left: 0px;
	width: 355px;
	margin: 20px;
	padding: 10px 0;
	font-size: 20px;
	color: #fff;
	text-align: left;
	border-top: 1px solid #080822;
}

#right-now ul li.rec .time a.button {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 50px;
	text-align: center;
	font-size: 20px;
	color: rgba(255,255,255,0.3);
	background: #000;
}


body.stories.new .intro .build-your-own {
  display: none;
}

.step {
  width: 90%;
	margin: 50px auto 40px;
	text-align: center;
}

#step1 {
  height: 350px;
}


#form {
	margin-bottom: 200px;
}

.record {
	height: 260px;
	width: 300px;
	background: rgba(81,103,138,0.1);
	padding: 40px 20px;
	border-radius: 20px;
	margin: 0 auto 40px;
}

.examples h2, .record h2 {
	text-align: center;
  font-size: 40px;
	margin-bottom: 30px;
	color: #51678a;
	margin: 30px 0 30px 0;
}

p {
  font-size: 10px;
}

.sc-labs {
	
}

.hidden {
	display: none;
}

.clear {
  clear: both;
}
/* Recording */




/*#recordButton { margin: auto !important; padding: 0 !important; border: 0 !important; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; border-radius: 0; -webkit-transition: none; -moz-transition: none; -o-transition: none; transition: none; display: block; width: 84px; height: 84px; background-color: transparent !important; background-image: url(rec2.png) !important; background-position: 0 0;}*/

.whileRecording, .whilePreRecording, .whilePostRecording {
	display: none;
}

.preRecording .whilePreRecording, .recording .whileRecording, .postRecording .whilePostRecording {
	display: block;
}

/* TODO remove */
.whileRecording {
	width: 305px;
	margin: auto;
}

#recordButton {
	display: block;
	text-decoration: none;
	background: rgba(205,0,0,1);
	width: 120px;
	height: 120px;
	border-radius: 60px;
	font-size: 60px;
	line-height: 120px;
	margin: 0px auto;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
}

#recordButton.recording {  background-position: 0 -84px;}

#nextPicture, .goToStep3 {
  float: left;
}

#timer {
  border-radius: 20px;
  border: 10px solid rgba(100, 0, 0, 1);
  background-color: rgba(100, 0, 0, 1);
  float: left;
  margin-top: 4px;
  margin-right: 10px;
}

#recorderFlashContainer {
	z-index: 9999999999;
}
