html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0; padding: 0; border: 0; outline: 0; font-weight: inherit; font-style: inherit; font-size: 100%; 	font-family: 'Amatic SC', cursive;}

table {border-collapse: collapse; border-spacing: 0;}
caption, th, td {text-align: left; font-weight: normal;}
form legend {display: none;}
blockquote:before, blockquote:after, q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}
ol, ul {list-style: none;}
hr {display: none; visibility: hidden;}

:focus {outline: 0;}

body, html {
	margin: 0;
	padding: 0;
	-moz-user-select: none;-webkit-user-select: none; 
}

html {
	background-color: #000;
	background-image: url(bg.jpg);
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

h1, h2 {
	font-family: 'Amatic SC', cursive;
}

h1 {
	font-size: 100px;
	line-height: 1.1em;
	margin-top: 40px;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
}

.bottom h1 {
	font-size: 60px;
	margin: 0 0 30px 0;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
}

h2 {
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
}

h2 {
  font-size: 30px;
	margin-bottom: 5px;
	color: #fff;
}

#page {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
	position: absolute;
}

.top {
	width: 100%;
	text-align: center;
	margin: 0px auto 30px;
	padding: 0px 0 0 0;
}

.bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	z-index: 99999999;
  overflow: hidden;
  max-height: 100%;
  -webkit-transition: height 0.4s linear;
}


.new .home {
  display: none!important;
}


.screen.intro {
  width: 500px;
  margin: auto;
  margin-top: 8%;
}

.screen.intro {
	height: 360px;
}

.screen.intro.small {
	height: 20px;
	padding: 0;
}

.screen.rec, .screen.slideshow {
	height: 480px;
	background-size: cover;
}


#currentImage {
  -webkit-border-radius: 5px;
  width: 360px;
  height: 360px;
  margin: auto;
  background-repeat: no-repeat;
	background-size: 360px;
  margin-top: 80px;
}

body#record #currentImage, body#endrecord #currentImage {
	margin-top: 140px;
	padding-top: 370px;
	font-size: 30px;
}

#outercanvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

#canvas {
  position: relative;
  top: 6%;
  left: 27%;
  width: 45%;
  height: 27%;
}

#image {
/*  width: 380px;
  height: 380px;*/
  display: block;
  position: relative;
  height: 100%;
  width: auto;
  margin: auto;
  opacity: 0.55;
  border-radius: 7px;
}

.connect {
  background-image: url(instagram.png);

  background-repeat: no-repeat;
  width:  200px;
  height: 80px;
  display: block;
  text-decoration: none;
  font-size: 30px;
  line-height: 25px;
	text-align: left;
  margin: 5px auto;
	padding: 10px 0 10px 60px;
}

/* BUILDER */
.images {
  display: block;
  overflow: hidden;
  height: 100px;
}

.image {
  float: left;
  position: relative;
  background-size: cover;
  margin: 5px;
}

#link {
  width: 300px;
}
.ui-sortable li.image{
  cursor: move;
}
.image.highlight { 
  border: 2px solid red;
}

.delete {
  position: absolute;
  top: 5px;
  right: 5px;
}

.timestamp {
  position: absolute;
  bottom: 25px;
  right: 5px;
  width: 30px;
  background-color: rgba(128,128,128, 0.5);
  font-weight: bold;
  color: white;
  border: 1px solid white;
}

.image input {
  display: block;
}

.image img {
  display: block;
  width:  150px;
  height: 150px;
}

body {
  font-family: "Lucida Grande";
  color: white;
  min-width: 1000px;
}


input#title {
  font-family: 'Amatic SC', cursive;
  display: block;
  font-size: 30px;
	text-decoration: none;
	color: #fff;
	width: 320px;
	margin: 5px auto;
	padding: 5px;
	background: rgba(0,0,0,0.1);
	border-radius: 7px;
	box-shadow: inset 0 1px 3px rgba(34,25,25,1);
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
	border: 1px solid rgba(0,0,0,0.9);
	-webkit-transition: background 0.2s linear;
}



body a {
  color: white;
}

body.builder {
  margin: 20px;
}




.storywheel {
	text-align: center;
	margin: 0px auto 0px;
	position: relative;
}

.storywheel {
	position: absolute;
	top: 10%;
	left: 35%;
	z-index: 9999;
	width: 30%;
	height: 45%;
	-webkit-transition: all 0.2s linear;
}

.storywheel .image {
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-size: 110%;
	border-radius: 10px;
	cursor: default;
	box-shadow: 0px 0px  8px rgba(0,0,0, 0.1);
}

.footer {
	padding: 0px;
	text-align: left;
	font-size: 20px;
	display:  none;
	background: rgba(0,0,0,0.4);
}

a.labs {
	background-color: rgba(60,60,60,0.7);
	background-image: url('labs.png');
	background-repeat: no-repeat;
	background-position: 10px 6px;
	position: absolute;
	width: 150px;
	right: 0;
	border-top-left-radius: 7px;
	bottom: 0;
	text-indent: -9999px;
	-webkit-transition: all 0.2s linear;
}

a.labs:hover {
	background-color: rgba(60,60,60,0.6);
}

.footer ul li {
	float: left;
}


.footer ul li a, .footer ul li.social {
	padding: 15px 20px;
	text-align: left;
	display: block;
	border-right: 1px solid rgba(255,255,255,0.10);
	font-size: 24px;
	text-decoration: none;
	-webkit-transition: all 0.2s linear;
}

.footer ul li.social iframe {
	padding: 5px 0;
	width: 85px !important;
	float: left;
}

.footer ul li:last-child  {
	border-right: 0;
}

.footer ul li a:hover {
	background: rgba(0,0,0,0.9);
	border-right: 1px solid rgba(255,255,255,0.15);
}

.footer a.button {
	position: absolute;
	right: 0;
	bottom: 0;
}

.button {
  display: block;
  text-align: center;
	display: block;
  font-size: 30px;
	text-decoration: none;
	background: rgba(81,39,42, 1);
	background: rgba(0,0,0,0.6);
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
	color: #fff !important;
	width: 240px;
	margin: 5px auto;
	padding: 3px 7px;
	border-radius: 7px;
	text-shadow: 0 2px 0px rgba(0,0,0,0.5);
	-webkit-transition: all 0.2s linear;
	border-bottom: 1px solid rgba(255,255,255,0.3);
}

.button:hover {
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

.button.build-your-own {
	margin-top: 20px;
	width: 280px;
}

#play:hover {
	cursor: pointer;
}

.reset {
	display: block;
	float: right;
	width: 100px;
	height: 43px;
	overflow: hidden;
	-webkit-transition: width 0.2s linear;
}

.reset.really {
	width: 270px;
}

.reset a.button.cancel {
	background: none;
	border: 0; 
	-webkit-transition: all 0.2s linear;
	color: rgba(255,255,255,0.4) !important;
}

.reset a.button.cancel:hover {
	color: rgba(255,255,255,0.9) !important;
}

.reset.really a.button.cancel {
	display: none;
}

.reset.really .sure {
  display: block;
}

.reset.really a.button {
	background: rgba(60,60,60,1);
	margin-left: 8px;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
}

.reset.really a.button:hover {
	background: rgba(60,60,60,0.8);
	cursor: pointer;
}

.reset.really span {
	  float: right;
		text-align: center;
	  font-size: 30px;
		text-decoration: none;
		background: rgba(81,39,42, 1);
		background: rgba(0,0,0,0.6);
		box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
		color: #fff !important;
		margin: 1px auto;
		padding: 0px 7px;
}


/* home stories start */ 

.stories {
	width: 100%;
	margin: 0px auto 10px;
	overflow-x: scroll;
	overflow-y: hidden;
	height: 120px;
	position: absolute;
	bottom: 55px;
	padding-bottom: 0px;
	-webkit-transition: all 0.4s linear;
	-webkit-transition-delay: 0.5s;
}

.stories .prev, .stories .next {
	height: 115px;
	position: fixed;
	width: 40px;
	bottom: 77px;
	background: rgba(0,0,0,1);
	font-size: 80px;
	color: rgba(255,255,255,0.4);
	-webkit-transition: all 0.4s linear;
	line-height: 1.3em;
}

.stories .prev:hover, .stories .next:hover {
	color: rgba(255,255,255,1);
}

.stories .prev {
	left: 0;
	border-right: 1px solid rgba(255,255,255,0.2);
	box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.9);
}

.stories .next {
	right: 0;
	border-left: 1px solid rgba(255,255,255,0.2);
	box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.9);
}

.stories ul {
	width: 10000px;
	padding: 0px 0 0px 40px;
}
.stories ul li {
	float: left;
	text-align: left;
}

.stories ul li a {
	display: block;
	width: 90px;
	height: 90px;
	padding: 5px;
	margin: 0px 0 0px 10px;
	opacity: 1;
	background-size: 110px;
	background-position: 50%;
	-webkit-transition: all 0.3s ease;
	text-decoration: none;
	border-radius: 7px;
	border-bottom: 1px solid rgba(255,255,255, 0.3);
	box-shadow: inset 0 1px 3px rgba(34,25,25,1);
}

.stories ul li a:hover, .stories ul li a:active {
	opacity: 1;
	cursor: pointer;
	border-bottom: 1px solid rgba(255,255,255, 0.4);
}

.stories ul li h3 a span {
	background: rgba(255,255,255,0);
	display: inline;
	color: rgba(0,0,0,0);
	font-size: 19px;
	-webkit-transition: all 0.8s ease;
}

.stories ul li h3 a span.user {
	color: rgba(81,103,138, 0);
}
.stories ul li h3 a:hover span {
	background: rgba(255,255,255,0.9);
	color: rgba(0,0,0,1);
}

.stories ul li h3 a:hover span.user {
	color: rgba(81,103,138, 1);
}

/* home stories end */ 

.button.connectInstagram {
	background-image: url(instagram.png);
	background-repeat: no-repeat;
	background-position: 14px 8px;
	text-align: left;
	padding: 4px 0 4px 52px;
	width: 200px;
}

#selection {
	width: 1000px;
	margin: 0 auto;
}

#selection ul {
	margin: 0 auto 0px;
}

#selection ul li {
	float: left;
	display: block;
	width: 73px;
	height: 76px;
	padding: 7px 10px 10px;
	margin: 0 0 20px 20px;
	opacity: 1;
	/*-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);*/
	background-size: 110px;
	background-position: -7px -7px;
/*	-webkit-transition: all 0.3s ease;*/
	-webkit-transition: border 0.3s ease, color 0.3s ease;
	text-decoration: none;
	color: rgba(255,255,255, 0);
	font-family: helvetica, arial, sans-serif;
	border: 2px dashed rgba(255,255,255, 0.4);
	font-size: 21px;
	border-radius: 7px;
	text-align: center;
	
}

#selection ul li.image, #selection ul li.image:hover {
	width: 77px;
	height: 67px;
	padding: 20px 10px 10px;
	margin: 0 0 20px 20px;
	opacity: 1;
	background-size: 110px;
	background-position: 50%;
	font-family: helvetica, arial, sans-serif;

	cursor: move;
	border: 0;
	border-bottom: 1px solid rgba(255,255,255, 0.4);
	box-shadow: inset 0 1px 3px rgba(34,25,25,1);

}

#selection ul li.fin {
  line-height: 76px;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

#selection ul li.fin:hover {
  color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);  
}

#selection ul li.upcoming, #selection ul li.upcoming:hover {
	opacity: 0.3;
	/*-webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	-moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); 
	box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.7);*/
	border-bottom: 1px solid rgba(81,103,138, 1);
}

#selection ul li.filled span, #selection ul li.filled:hover span {
	opacity: 0;
}

#selection ul li:hover {
	border: 2px dashed rgba(255,255,255, 1);
	color: rgba(255,255,255, 0.9);
	box-shadow: inset 0 1px 3px rgba(34,25,25,1);
	cursor: default;
}

#images {
	width: 1000px;
	margin: 0 auto;
	padding-top: 20px;
	height: 90%;
	overflow: auto;
}

#images ul {
	margin: 0 auto;
}

#images ul li {
	float: left;
	display: block;
	width: 18px;
	height: 18px;
	padding: 20px;
	margin: 0 0 20px 20px;
	opacity: 0.8;
	background-size: 70px;
	background-position: 50%;
	background-color: black;
	-webkit-transition: all 0.3s ease;
	text-decoration: none;
	color: rgba(81,103,138, 0);
	font-family: helvetica, arial, sans-serif;
	font-size: 12px;
	border-radius: 7px;
	border-bottom: 1px solid rgba(255,255,255, 0.4);
	box-shadow: inset 0 1px 3px rgba(34,25,25,1);
	cursor: pointer;
}

#images ul li:hover {
	color: rgba(81,103,138, 0.9);
	opacity: 1;
	border-bottom: 1px solid rgba(255,255,255, 0.6);
}

.view-all {
	display: block;
	color: rgba(81,103,138, 0.3);
	font-size: 24px;
	text-decoration: none;
	width: 1200px;
	margin: 0 auto 10px;
}

.controls {
	height: 50px;
	position: fixed;
	width: 100%;
	bottom: 0px;
	left: 0;
	padding-top: 10px;
	background: rgba(0,0,0,0.6);
}

.controls .inner {
	position: relative;
	width: 910px;
	margin: 0 auto;
}

.controls .inner .help {
	text-align: center;
	font-size: 30px;
	display: inline;
	padding-top: 3px;
}

.inner .button {
	float: right;
	margin: 3px 0 0 20px;
	width: auto;
	padding: 0 20px;
}


.button.red {
  background-color: rgba(150,0,0,1);
	color: white !important;
}

.button.red:active {
  background-color: rgba(100,0,0,1);
	color: white !important;
}

.button.red.disabled {
	display: none;
}

.slideControls {
  width: 120px
}

#right-now {
	width: 830px;
	margin: 0 auto 50px;
}

#right-now ul li {
	float: left;
	width: 395px;
	height: 395px;
	background-size: 430px;
	background-position: 50%;
	border-radius: 20px;
}

#right-now ul li.rec, #right-now ul li.first {
	background: rgba(255,255,255,0.05);
	margin-left: 40px;
	font-size: 40px;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
	color: rgba(81,103,138,0.7);
	position: relative;
}	

#right-now ul li.rec .inner, #right-now ul li.first .inner {
	padding: 40px;
}

#right-now ul li.rec .inner img {
	display: block;
	margin: 30px auto;
}

#right-now ul li.first {
	margin-left: 0;
	font-size: 80px;
	color: rgba(255,255,255,1);
}

#right-now ul li.rec .expl {
	position: absolute;
	top: 140px;
	left: 0px;
	width: 355px;
	height: 100px;
	margin: 20px;
	padding: 20px 0;
	border-top: 1px solid #080822;
}

#right-now ul li.rec .time {
	position: absolute;
	top: 320px;
	left: 0px;
	width: 355px;
	margin: 20px;
	padding: 10px 0;
	font-size: 20px;
	color: #fff;
	text-align: left;
	border-top: 1px solid #080822;
}

#right-now ul li.rec .time a.button {
	position: absolute;
	right: 0px;
	top: 5px;
	width: 50px;
	text-align: center;
	font-size: 20px;
	color: rgba(255,255,255,0.3);
	background: #000;
}


body.stories.new .intro .build-your-own {
  display: none;
}

.step {
  width: 90%;
	margin: 50px auto 40px;
	text-align: center;
}

#step1 {
  height: 350px;
}


#form {
	margin-bottom: 200px;
}

.recordControls {
	height: 260px;
	width: 300px;
	/*background: rgba(81,103,138,0.1);*/
	padding: 10px 20px 40px;
	border-radius: 20px;
	margin: 0 auto 40px;
  -webkit-transition: height 0.4s linear;
}

.recordControls h2 {
	text-align: center;
  font-size: 30px;
	margin-bottom: 30px;
	margin: 30px 0 30px 0;
}

p {
  font-size: 10px;
}

.sc-labs {
	
}

.hidden {
	display: none;
}

.clear {
  clear: both;
}

.show {
  margin-top: -400px;
}

/* states */
body#home .stories, body#connect #step1, body#pick #step1, body#prerecord #step2, body#record #step2, body#endrecord #step2, body#finalize #step3 {
  display: block;
}

body#home .home, body#show .show, body#show #currentImage, body#upload .progress, body#record #currentImage, body#endrecord #currentImage, body#play #currentImage {
  display: block;
}

body#prerecord .recordControls, body#pick #selection, body#connect .connectInstagram, body#about .about {
  display: block;
}

body#record #timer, body#endrecord #timer, body#prerecord .startRecording, body#record #nextPicture, body#endrecord #goToStep3 {
  display: block;
}

body#home      .bottom { height: 60px; }
body#home      .bottom .footer { display: block; }
body#show      .bottom .footer { display: block; }
body#play      .bottom .footer { display: block; }
body#connect   .bottom { height: 1999px; }
body#pick      .bottom { height: 1999px; }
body#prerecord .bottom { height: 1999px; }
body#prerecord .bottom #selection { display: none }
body#record    .bottom { height: 1999px; }
body#record    .bottom #selection { display: none }
body#endrecord .bottom { height: 1999px; }
body#finalize  .bottom { height: 1999px;  }
body#upload    .bottom { height: 45px; } 
body#record    .top { position: absolute; z-index: 9999999999; }
body#about    .bottom { height: 1999px; }

body.record .bottom, body.endrecord .bottom {
  top: 60%;
}

body#home.about .bottom .about h1, body#show.about .bottom .about h1  {
	font-size: 120px;
}

body#about .bottom .footer { display: block; border-bottom: 1px solid rgba(255,255,255,0.1);}
body#about .bottom { background: rgba(0,0,0,0.4)}
/* states end */


.about {
  width: 400px;
  margin: auto;
  font-size: 24px;
  margin-top: 100px;
}

/* TODO remove */
.whileRecording {
	width: 305px;
	margin: auto;
}

#recordButton {
	display: block;
	float: none !important;
	text-decoration: none;
	background: #c00;
	width: 120px;
	height: 120px;
	border-radius: 60px;
	font-size: 60px;
	line-height: 120px;
	margin: 0px auto;
	text-shadow: 0 2px 0px rgba(0,0,0,0.9);
	border-bottom: 1px solid rgba(255,255,255, 0.6);
	box-shadow: inset 0 1px 3px rgba(34,25,25,1);
	-webkit-transition: all 0.2s linear;
	cursor: pointer;
}

#recordButton:hover {
	background: #f00;
	border-bottom: 1px solid rgba(255,255,255, 0.8);
	box-shadow: inset 0 1px 3px rgba(34,25,25,1);
}

#timer {
  border-radius: 50px;
  border: 10px solid rgba(205, 0, 0, 1);
  background-color: rgba(205, 0, 0, 1);
  float: left;
	width: 40px;
	height: 40px;
  margin-top: 2px;
  margin-right: 10px;
}

#recorderFlashContainer {
	z-index: 9999999999;
}


ul::after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}
