.controls
  .inner
    %a.button.save.red.goToStep2.hidden{:href => ""} Go To The Next Step!
    %span.reset
      %a.button.cancel{:href => "/"} Cancel
      %span.sure.hidden
        %a.button.sure.yes{:href => "/"} Yes
        %a.button.sure.no{:href => "/"} No
        %span Are You sure?
