%h1 Almost done!

.record
  %input{type: "text", class: "text", id: "title", name: "title", placeholder: "What's the title of your story?" }

.emotion.hidden{:style => ""}
  %a.button.addDrama{:href => ""} Add some Drama
  %a.button.addDrama{:href => ""} Add some Fun
  %input{type: "text", class: "text", id: "backgroundTrackId", name: "backgroundTrackId", placeholder: "a background track id" }

= render :partial => "stories/bottom_controls"
