%h1 Tell your story 

.recordControls.hidden

  #recordButton.startRecording.reset{href: ""} REC
  %h3.help Hit the record button <br/>and start telling your story picture by picture.

#recordStatus.hidden
  %span#timer 0.00
  %span#status 5 pictures left.

.clear


#selection
  %ul.images.step2-selection

= render :partial => "stories/bottom_controls"
