%h2 Step 3: Finalize and publish your story
%input{type: "text", class: "text", id: "title", name: "title", placeholder: "What's the title of your story?" }

.emotion{:style => ""}
  %a.button.addDrama{:href => ""} Add some Drama
  %a.button.addDrama{:href => ""} Add some Fun

%a.button.red.publish{:href => ""} Publish



