%h1 Tell your story 

.recordControls.hidden

  #recordButton.startRecording.reset{href: ""} REC
  %h2 Hit the REC button and start to tell your story image by image.

.clear

#selection
  %ul.images.step2-selection
    - 0.times do
      %li.image{:style => "background-image: url('http://distilleryimage9.s3.amazonaws.com/9644ca5e0aaa11e1a87612313804ec91_7.jpg')", "data-image-url" => "http://distilleryimage9.s3.amazonaws.com/9644ca5e0aaa11e1a87612313804ec91_7.jpg"}

.controls
  .inner
    .help Hit space to get to the next image  
    %a#goToStep3.button.save.red.hidden{:href => ""} Stop Recording
    %span.reset
      %a.button.cancel{:href => "/stories/new"} Cancel
