%a.connect.hidden{:href => "https://instagram.com/oauth/authorize/?client_id=95ee14ed94f046d89b6746b02ea0ecb5&redirect_uri=http://carousel.ponyho.st/builder.html&response_type=token"} Connect to instagram
%h1 Pick your images 

#selection
  %ul.selection
    - # %li.filled{:style => "background-image: url('http://distilleryimage11.instagram.com/e932f4340d3e11e1abb01231381b65e3_7.jpg')"}
    - 8.times do
      %li.empty
        %span Select images below
    

%a.button.connectInstagram{:href => ""} Connect to Instagram

#images
  %script{id: "storyTmpl", type:"text/x-jquery-tmpl"}
    %li
      %h3
        %a{:href => "${story_url}", :style => "background-image: url(${artwork_url});"}
          %span.user= "${user.username}"
          %br
          %span= "${title}"


  %script{id: "imageTmpl", type:"text/x-jquery-tmpl"}
    %li.image{:style => "background-image: url('${thumbnail_url}')", "data-image-url" => "${url}"}
      .hidden
        %input.url{:name => "url[]", :type => "hidden", :value => "${url}"}/
        %input.timestamp{:name => "timestamp[]", :type => "text", :value => "${timestamp}"}/
        
    - #%li.image
    - #  %img{:src => "${url}"}/
    - #  %button.delete X
  %ul.all-images
    - 0.times do
      %li.image{:style => "background-image: url('http://distilleryimage9.s3.amazonaws.com/9644ca5e0aaa11e1a87612313804ec91_7.jpg')"}

  - # %div{:style => "clear: left;"}
  - #   <a href="" class="view-all">Load more images</a>
.controls
  .inner
    %a.button.save.red.goToStep2{:href => ""} Go To The Next Step!
    %span.reset.really
      %a.button.cancel{:href => "/"} Cancel
      %span.sure
        %a.button.sure.yes{:href => "/"} Yes
        %a.button.sure.no{:href => "/"} No
        %span Are You sure?
