%h1 Step 2: Tell your story

.record.whilePreRecording
  %a#recordButton.reset{href: ""} REC
  %h2 Hit the REC button and tell your story.
  
  
.whileRecording.whilePostRecording
  %span#timer 0.00
  .whileRecording
    %a#nextPicture.button{:href => "#"} Show The Next Picture
  .whilePostRecording
    %a.button.red.goToStep3{:href => "#"} Stop recording & finish!

.clear

#selection
  %ul.images.step2-selection
    - 3.times do
      %li.image{:style => "background-image: url('http://distilleryimage9.s3.amazonaws.com/9644ca5e0aaa11e1a87612313804ec91_7.jpg')", "data-image-url" => "http://distilleryimage9.s3.amazonaws.com/9644ca5e0aaa11e1a87612313804ec91_7.jpg"}
