%script{id: "storyTmpl", type:"text/x-jquery-tmpl"}
  %li
    %h3{:style => "background-image: url(${artwork_url});"}
      %a{:href => "${story_url}#autoplay"}
        %span.user= "${user.username}"
        %br
        %span= "${title}"


%script{id: "imageTmpl", type:"text/x-jquery-tmpl"}
  %li.image{:style => "background-image: url('${thumbnail_url}')", "data-image-url" => "${url}"}
    .hidden
      %input.url{:name => "url[]", :type => "hidden", :value => "${url}"}/
      %input.timestamp{:name => "timestamp[]", :type => "text", :value => "${timestamp}"}/
