.screen.intro
  #currentImage.hidden
    %span#timer.hidden 0.00
    %span#status.hidden 5 pictures left.
  .home.hidden
    %h1 Story Wheel
    %h2 Tell the story behind your images
    %img#wheel{:src => "/carousel.png"}
    = link_to 'Create your Story Wheel now!', "/stories/new", :class => "button build-your-own"
  .show.hidden
    - if @track
      .cover#playButton{:href => "#"}
        .text
          %h1= @track.user.username
          %h2= @track.title


  .progress.hidden
    %h1 Story Wheel
    %h2 Tell the story behind your images
    %img#wheel{:src => "/carousel.png"}
    .clear
    %span#progressMessage

    //= link_to 'Build your own Story Wheel', connect_instagram_path, :class => "button build-your-own"

.stories.hidden
  %ul 
  %a.prev <
  %a.next >