
.examples
  %ul    
    - 5.times do
      %li
        %h3
          %a{:href => "carousel.html", :style => "background-image: url(http://distilleryimage9.s3.amazonaws.com/9644ca5e0aaa11e1a87612313804ec91_7.jpg);"}
            %span.user= "Johannes Wagener"
            %br
            %span= "A trip to boston"
