%ul
  - @stories.each do |story|
    %li
      %h3
        %a{:href => "carousel.html", :style => "background-image: url(#{story.try(:images).first.try(:url)});"}
          %span.user= story.sc_username
          %br
          %span= story.title


